<h2>YOUR DASHBOARD</h2>

<div class="user-div">
    <img src="{{photoURL}}" alt="{{email}}">
    <h5>{{email}}</h5>
    <h5>Nombre</h5>
    <p>{{name}}</p>
    <h5>Apellidos</h5>
    <p>{{lastName}}</p>
    <h5>Dirección</h5>
    <p>{{address}}</p>
    <br>
    {{#if isWoosher}}
    {{else}}
        <button>Hazte Woosher</button>
    {{/if}}
</div>

<div class="services-div">
    {{#each service}}
        <h4>{{active}}</h4>
        <span>{{woosher.name}}</span>
        <span>{{requestDate}}</span>
    {{/each}}
</div>