<h2>Profile</h2>

<div class="user-div">
    <img src="{{photoURL}}" alt="{{email}}" height="100" width="90">

    <h3>
    {{name}} 
    {{lastName}}
    </h3>
    <h5>Your email: {{email}}</h5>
    <p> Address: {{location.address}}</p>
    <br>
    {{#if isWoosher}}
    {{else}}
    <a href="/service/authorize" type="button">Hazte Woosher</a>
    <p>
        Check available request:
        <a href="/service/status">Click here</a>
    </p>
    {{/if}}
</div>

<div class="services-div">
</div>