<section class="dashboardPage">
<h2>Profile</h2>

<div class="user-div">
    <img src="{{photoURL}}" alt="{{email}}" height="100" width="90">

    <h3>
    {{user.name}} 
    {{lastName}}
    </h3>
    <h5>Your email: {{user.email}}</h5>
    <p> Address: {{user.location.address}}</p>
    <br>
    
    {{#ifCond user.role "USUARIO"}}
    <a href="/become-woosher" type="button">Hazte Woosher</a>
    <p>
        Check available request:
        <a href="/service/status">Click here</a>
    </p>
    {{/ifCond}}
</div>

<div class="services-div">
    {{#each services as |service|}}
    <section class="order-card">
    {{#if service.active}}

    <h5>Dont wait to long {{service.username}} </h5><br>

    <p><b>{{service.woosher.name}}</b> is taking care of your order</p><br>

    <p>Order being delivered to:<b> {{service.user.location.address}}</b> </p>
    {{else}}
    <p id="order-delivered">Your order has been delivered</p>
    {{/if}}
    </section>
    {{/each}}

    {{#ifCond user.role "WOOSHER"}}
    <a href="/service/list" type="button">Check current orders</a>
    {{/ifCond}}



</div>

</section>
