<div class="user-div">
    <img src="{{photoURL}}" alt="{{email}}">
    <h5>{{email}}</h5>
    <h3>NAME</h3>
    <p>{{name}}</p>
    <h3>LAST NAME</h3>
    <p>{{lastName}}</p>
    <h3>ADDRESS</h3>
    <p>{{address}}</p>
</div>