<div class="user-div">
    <img src="{{user.photoURL}}" alt="{{email}}">
    <h5>{{user.email}}</h5>
    <h3>NAME</h3>
    <p>{{user.name}}</p>
    <h3>LAST NAME</h3>
    <p>{{user.lastName}}</p>
    <h3>ADDRESS</h3>
    <p>{{user.address}}</p>
</div>