<nav id="navBar2">
        <span>
     <a href="/"> <img src="images/Woosh.png" alt="woosh-logo" width="140"height="60"> </a>
    </span>
        {{!-- <span class="subNav"> --}}
      <a id="nav-logout"href="/logout">LOGOUT</a>
    </span>
</nav>

<section class="dashboardPage">
<h2>dash<b>b</b>oard</h2>

<section class="dashboard-container">
<div class="user-div">
    {{#ifCond user.role "USUARIO"}}
        <div id="pide-woosher">
            <a href="/service/new" tpye="submit">Get your Woosher now!</a>
        </div>
    {{/ifCond}}
    <img src="{{user.photoURL}}" alt="{{email}}" id="profile-pic"height="150" width="120">

    <h3>
    {{user.name}} 
    {{lastName}}
    </h3>
    <h4>Your email: {{user.email}}</h4>
    <p> Address: {{user.location.address}}</p>
    <br>
    
    {{#ifCond user.role "USUARIO"}}
    <p>
        <b>You want to earn money with Woosh?</b>
    <a href="/become-woosher" type="button">Become a Woosher</a>
    </p>
    {{else}}
    <div class="active-orders">
    <p>
        People need you {{user.name}},<br> 
        check available request:<br>
        <a href="/service/status" type="button">Click here</a>
    </p>
    </div>
    {{/ifCond}}
</div>

<div class="services-div">
    {{#each services as |service|}}
    <section class="order-card">

    {{#if service.active}}    
    {{#if service.addressTo.coordinates}}
    {{#if service.clothesPicked}}
    {{else}}
    <h5>Dont wait to long {{service.username}} </h5><br>

    <p><b>{{service.woosher.name}}</b> is taking care of your order</p><br>

    <p>Order being delivered to:<b> {{service.user.location.address}}</b> </p>
    {{/if}}
    {{/if}}
    {{/if}}
    
    {{#if service.addressTo.coordinates}}
    {{else}}
    <p>Your order is still being processed</p>
    {{/if}}


    {{#if service.clothesPicked }}
    {{#if service.active}}
  
    <p id="order-delivered">Woosher is Outside, have ready your dirty laundry bag</p>
    
    {{/if}}
    {{/if}}
    {{#if service.clothesPicked }}
    {{#if service.active}}
    {{else}}
        <p>Your order has been delivered</p>
    {{/if}}
    {{/if}}

    </section>
    {{/each}}

   

    {{#ifCond user.role "WOOSHER"}}
    <div class="active-orders">
    <p>Check all your active orders.</p>
    <a href="/service/list" type="button">Current orders</a>
    </div>
    {{/ifCond}}
    

</section>
</div>

</section>
