<section class="detail-request">
  <section class="heading-detail">
<h4>{{service.username}} is requesting a Woosher</h4>

<p>check if its close to you!</pac>
<p class="time"></p>
<form action="/service/detail/{{service._id}}" method="POST">
  <input type="text" name='active' value="true" hidden>
  <input id="activar-request" type="submit" value="Accept request">
</form>

</section>
<section>
<div id="map"></div>


<a href='/status'>Go back</a>

</section>
</section>
<style>
  #map{
    height: 420px;
    width: 800px;
  }
</style>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYXNncm9zcyIsImEiOiJjanMxeGpzdzUwaGo1NDNvODhmN3JiYXAwIn0.6Bk7mxTNH-SvuwrfOSGpdQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
zoom: 13,
center:[{{service.addressFrom.coordinates}}]

});
const marker = new mapboxgl.Marker({
  color: 'red'
  
})


.setLngLat([{{service.addressFrom.coordinates}}])
.addTo(map)




map.addControl(new MapboxDirections({
accessToken: mapboxgl.accessToken
}), 'top-left');


map._controls[2].actions.setOriginFromCoordinates([{{service.addressFrom.coordinates}}])
map._controls[2].actions.setDestinationFromCoordinates([{{user.location.coordinates}}])


window.onload = function(){
let time = document.getElementsByClassName('mapbox-directions-component mapbox-directions-route-summary').innerText

document.getElementsByClassName('time').innerHTML = time
  
}
 

</script>

{{!-- 19.4024579,-99.1777904 --}}