<h2>{{user.name}}</h2>

<h2>{{addressFrom.coordinates}}</h2>
<div id="map"></div>
<button id="check-route">Check Route</button>

<a href='/status'>Go back</a>
<style>
  #map{
    height: 350px;
    width: 800px;
  }
</style>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYXNncm9zcyIsImEiOiJjanMxeGpzdzUwaGo1NDNvODhmN3JiYXAwIn0.6Bk7mxTNH-SvuwrfOSGpdQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
zoom: 13,
center:[{{service.addressFrom.coordinates}}]

});
const marker = new mapboxgl.Marker({
  color: 'red'
})


.setLngLat([{{service.addressFrom.coordinates}}])
.addTo(map)

window.onload = function putAddress(){
  document.getElementById
    //do onload work
}




map.addControl(new MapboxDirections({
accessToken: mapboxgl.accessToken
}), 'top-left');


map._controls[2].actions.setOriginFromCoordinates([{{service.addressFrom.coordinates}}])
map._controls[2].actions.setDestinationFromCoordinates([{{user.location.coordinates}}])



</script>

{{!-- 19.4024579,-99.1777904 --}}