<section class="detail-request">
  <section class="heading-detail">
<h2>{{service.username}}</h2>

<h2>{{service.addressFrom.coordinates}}</h2>
</section>
<section>
<div id="map"></div>


<input id="activar-request" type="submit" value="Accept request">
<a href='/status'>Go back</a>

</section>
</section>
<style>
  #map{
    height: 350px;
    width: 800px;
  }
</style>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYXNncm9zcyIsImEiOiJjanMxeGpzdzUwaGo1NDNvODhmN3JiYXAwIn0.6Bk7mxTNH-SvuwrfOSGpdQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
zoom: 13,
center:[{{service.addressFrom.coordinates}}]

});
const marker = new mapboxgl.Marker({
  color: 'red'
})


.setLngLat([{{service.addressFrom.coordinates}}])
.addTo(map)




map.addControl(new MapboxDirections({
accessToken: mapboxgl.accessToken
}), 'top-left');


map._controls[2].actions.setOriginFromCoordinates([{{service.addressFrom.coordinates}}])
map._controls[2].actions.setDestinationFromCoordinates([{{user.location.coordinates}}])



</script>

{{!-- 19.4024579,-99.1777904 --}}