<nav id="navbartwo">
    {{#if loggedUser}}
        <span>
        <a href="/"> <img src="/images/Woosh.png" alt="woosh-logo" width="140" height="60"> </a>
    </span>
        <span class="subnavtwo">
                <a class="nav-bold" href="/dashboard">DASHBOARD</a>
                <a href="/logout">LOGOUT</a>
            </span>
    {{/if}}
</nav>

<section class="detail-request">
  <section class="heading-detail">
<h4>{{service.username}} is requesting a Woosher</h4>

<p>check if its close to you!</pac>
<p class="time"></p>

  {{#if service.active}}
  <form action="/service/detail/{{service._id}}" method="POST">
  <input type="text" name='clothesPicked' value="true" hidden>
  <input id="desactivar-request" type="submit" value="Estoy Afuera, dame tu ropa sucia">
</form>

  {{else}}
<form action="/service/detail/{{service._id}}" method="POST">
  <input type="text" name='active' value="true" hidden>
  <input id="activar-request" type="submit" value="Accept request">
</form>
  {{/if}}
  {{#if service.clothesPicked}}
    <form action="/service/detail/{{service._id}}" method="POST">
  <input type="text" name='active' value="false" hidden>
  <input id="desactivar-request" type="submit" value="LLegue con tu ropa!">
</form>
{{/if}}


<a href='/service/status'>Go back</a>

</section>
<section>
<div id="map"></div>



</section>

</section>
<style>
  #map{
    height: 420px;
    width: 800px;
  }
</style>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
{{!-- <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script> --}}
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<script>
    var bounds = [[-99.215766, 19.271481], [-99.067508, 19.494349]]

    mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYXNncm9zcyIsImEiOiJjanMxeGpzdzUwaGo1NDNvODhmN3JiYXAwIn0.6Bk7mxTNH-SvuwrfOSGpdQ';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 13,
        center:[-99.133209, 19.432545],
        zoom: 10,
        maxBounds: bounds,
    })

    const marker = new mapboxgl.Marker({
      color: 'red'
    }).setLngLat([-99.133209, 19.432545]).addTo(map)

    map.addControl(new MapboxDirections({
        accessToken: mapboxgl.accessToken,
        countries: 'mx',
        bbox: [-99.215766, 19.271481, -99.067508, 19.494349],
    }), 'top-left');
  
    map._controls[2].actions.setOriginFromCoordinates([{{service.addressFrom.coordinates}}])
    map._controls[2].actions.setDestinationFromCoordinates([{{userCoords}}])
</script>
